.Card{
    width:50px;
    height:100px;
    background:none;
    border:none;
    transition:border 0.25s;
    cursor: not-allowed;
    &.realPlayer{
        cursor: pointer;
        &:hover{
            margin:1px;
        }
    }
}